// Source mixin
@mixin make-container($padding-x: $container-padding-x) {
  max-width: var(--max-width, 100%);
  padding-right: $padding-x;
  padding-left: $padding-x;
  margin-right: auto;
  margin-left: auto;
}

// Usage
.g-container {
  --max-width: 1140px;
  @include make-container();
}
.g-flex {
  display: flex;
  gap: var(--gap, 1rem);
}
